@CHARSET "UTF-8";
@font-face {
    font-family: 'GothamLight';
    src:	url('../fonts/Gotham-Light_0.eot');
    src:	url('../fonts/Gotham-Light_0.eot?#iefix') format('embedded-opentype'),
    		url('../fonts/Gotham-Light_0.woff') format('woff'),
    		url('../fonts/Gotham-Light_0.ttf') format('truetype'),
    		url('../fonts/Gotham-Light_0.svg#Gotham-Light') format('svg');
    font-weight: normal;
    font-style: normal;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
html,body{height:100%;width:100%;overflow-x:hidden}
body{font:normal 14px arial;color:#fff;}
body.desk{}
a{text-decoration:none}
b,strong{font-weight:bold}
i,em{font-style:italic}
.loading {background:url(loading.gif) center no-repeat}
.clear{clear:both}
#wahbar{background:#555;text-align:left}
#wahbar a{color:#fff}
#but-menu{float:right}
/*page-load*/
#pageload{height:100%;width:100%;position:fixed;top:0px;left:0px;background:#000;z-index:10;}
#pageload *{position:absolute;background:url(load-logo.png); width:110px;height:50px;}
#pageload div{display:none; top:50%; left:50%; margin:-25px -55px;}
#pageload div span{display:block; opacity:0; background-position:0px -50px}
/*page-desk*/
#pagedesk {min-height:100%}
#pagedesk.desk {background:url(birchdesk.jpg) 0px 250px;color:#222;}
#pagedesk.off {display:none;}
#pagedesk .wrapper { padding:5px 0 50px; }
#pagedesk #noticias {background-color: #FFF; min-height:30px; border-radius:5px; overflow:hidden; margin:0 5px 15px}
#pagedesk #noticias article {}
#pagedesk .tit {font-size:13px; color:#666; padding:6px 8px; border-top:1px solid #ccc; position:relative;cursor:pointer;-webkit-touch-callout: none;-webkit-user-select: none;-moz-user-select: none;user-select: none;}
#pagedesk .tit:hover,#pagedesk article.show .tit {color:#000}
#pagedesk .tit span {font-size: 11px; padding:0 0 0 10px; color: #ccc }
#pagedesk .tit b {position: absolute; top:5px; right:10px; -webkit-transition:0.2s ease-out; transition:0.2s ease-out; opacity:0.7}
#pagedesk #noticias article:first-child .tit {border:0px none} 
#pagedesk #noticias section {height:0px; overflow:hidden}
#pagedesk #noticias article.show section {height:auto; padding: 5px;}
#pagedesk #noticias article.show .tit b {-webkit-transform: rotate(180deg); transform: rotate(90deg)}
#pagedesk #noticias img{max-width:100%} 
#pagedesk #noticias .youtube{background: #fdd;display: block;text-align: center;padding: 10px 0 5px;color: red;} 
#pagedesk #noticias .youtube:hover{background: #f00;color: #fff;} 
#pagedesk #dock { height:40px; width:100%; background: rgba(0,0,0,0.3); overflow:show; position: fixed; bottom:0px;left:0px}
#pagedesk #dir {padding:0 15px; text-align:center}
#pagedesk #dir a {display:inline-block; width:54px; height:54px; margin:0px 20px 50px; border-radius:10px; background:rgba(0,0,0,0.3); box-shadow:0px 3px 7px rgba(0,0,0,0.3); overflow:visible; }
#pagedesk #dir img {position:relative; top:-5px; left:-5px; width:64px; height:64px; display:block; margin:0px auto 5px; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); -webkit-transition: 1s ease-out; -moz-transition: 1s ease-out; transition: 1s ease-out}
#pagedesk #dir span {background:rgba(0,0,0,0.3);color:#fff;text-shadow:0px 1px 1px #000; padding:0 5px; border-radius:5px}
#pagedesk #dir a:hover span,#pagedesk #dir a:focus span {background:rgba(0,0,0,0.6);}
#pagedesk #dir a:active{position:relative; top:1px}
#pagedesk #dir a.lift {z-index:2}
#pagedesk #dir a.lift img{-webkit-transform: scale(1.4) translate3d(0,-30px,0); transform: scale(1.4) translate3d(0,-30px,0)}

/*page-app*/
#pageapp{opacity:0;height:0px;overflow:hidden;}
#pageapp.on{width:100%;height:auto;min-height:100%;z-index:3;position:absolute;top:0px;left:0px;background:purple;z-index:3} 
#pageapp.opaque{opacity:1} 
#pageapp.opening{position:fixed !important;-webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);-webkit-transition:opacity 1s ease-out; transition:opacity 1s ease-out } 
.appclose {float:right}

